.btn {
    padding: 10px 40px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all .5s ease;
}

a {
    text-decoration: none;
    font-family: "Montserrat";
}

ul {
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.active {
    background-color: #60B000;
}

.content {
    .logo {
        img {
            width: 50%;
            margin-left: 12rem;
        }
    }
}