.btn {
  padding: 10px 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a {
  text-decoration: none;
  font-family: "Montserrat";
}

ul {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.active {
  background-color: #60B000;
}

.content .logo img {
  width: 50%;
  margin-left: 12rem;
}

form {
  width: 700px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 5rem;
}

form .logo {
  margin-top: 2rem;
  height: 50%;
}

form .logo img {
  width: 40%;
  margin-left: 30%;
}

form h1 {
  text-transform: uppercase;
  font-family: "montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #8A1668;
}

form .formElement {
  width: 50%;
  position: relative;
  height: 50px;
  overflow: hidden;
  margin-bottom: 2rem;
}

form .formElement input {
  width: 100%;
  height: 100%;
  color: #60B000;
  padding-top: 20px;
  border: none;
  outline: none;
  font-size: 1.3rem;
}

form .formElement input:focus + .labelName .contentName,
form .formElement input:valid + .labelName .contentName {
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  font-size: 14px;
  color: #8A1668;
}

form .formElement input:focus + .labelName::after,
form .formElement input:valid + .labelName::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

form .formElement label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #60B000;
  color: #60B000;
}

form .formElement label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #8A1668;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

form .formElement .contentName {
  position: absolute;
  bottom: 5px;
  left: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

form input[type=submit] {
  font-size: 1rem;
  font-family: "montserrat", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 3rem;
  background-color: #60B000;
  color: #fff;
  outline: none;
}

form input[type=submit]:hover {
  background-color: #8A1668;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr;
      grid-template-columns: 2fr 5fr;
  grid-gap: 1rem;
}

body .aside {
  width: 70%;
  background-color: #8A1668;
  height: 100vh;
}

body .aside li {
  padding: 1rem;
}

body .aside li a {
  color: #fff;
  margin-left: 1rem;
  font-size: 1.2rem;
}

body .aside li:hover {
  background-color: #60B000;
}

body .aside .logo {
  background-color: #fff;
  border-radius: 10px;
  width: 9rem;
  height: 8rem;
  margin: 2rem 3rem;
}

body .aside .logo img {
  width: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content form {
  margin-top: 0;
  margin-left: 3rem;
}

.content form .both {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
}

.content form .both .formElement {
  width: 40%;
}

.content form .radioGroup {
  margin-top: .7rem;
  color: #60B000;
}

.content form .radioGroup h4 {
  text-align: center;
  margin-bottom: .5rem;
}

.content form .radioGroup label {
  margin-right: 1rem;
}

.content form .radioGroup input {
  margin-left: 2rem;
}

.content form .radioGroup input:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffffff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #60B000;
}

.content form .radioGroup input:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #8A1668;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.content form .formElement {
  width: 70%;
}
/*# sourceMappingURL=reception.css.map */